Repository ryoppippi/stackone-ai-node: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,js,jsx,mts,cts}"
      run: pnpm run typecheck
    format:
      glob: "*.{ts,tsx,js,jsx,mts,cts,json,jsonc,yaml,yml,md}"
      run: pnpm biome format --no-errors-on-unmatched --write {staged_files}
      stage_fixed: true

fix: add baseURL default (#164)
  src/consts.ts
  src/index.ts
  src/tool.ts
  src/tools/feedback.ts
  src/toolsets/stackone.ts
Due: typecheck, format

docs: update GPT model references to gpt-5.1 (#161)
  README.md
  examples/ai-sdk-integration.ts
  examples/human-in-the-loop.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
Due: typecheck, format

refactor: flatten test directory structure (#157)
  src/tests/array.spec.ts
  src/tests/base.spec.ts
  src/tests/feedback.spec.ts
  src/tests/requestBuilder.spec.ts
  src/tests/stackone.mcp-fetch.spec.ts
  src/tests/stackone.spec.ts
  src/tests/tfidf-index.spec.ts
Due: typecheck, format

chore: use biome format -> biome check for lefthook (#172)
  lefthook.yaml
Due: format

refactor: flatten client structure and add Zod validation to RPC client (#168)
  mocks/handlers.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/mcp-client.ts
  src/rpc-client.spec.ts
  src/rpc-client.ts
  src/toolsets/base.ts
Due: typecheck, format

feat: add knip for unused code detection (#174)
  .claude/skills/file-operations/SKILL.md
  .cursor/rules/file-utils.mdc
  CLAUDE.md
  examples/package.json
  knip.config.ts
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/rpc-client.ts
  src/tool.ts
  src/toolsets/index.ts
  src/toolsets/stackone.ts
  src/types.ts
  src/utils/file.ts
  src/utils/schema.ts
  src/utils/tfidf-index.ts
Due: typecheck, format

docs: reorder Features section with fetchTools at top (#177)
  README.md
Due: format

chore: build and release (#179)
  .github/workflows/release.yaml
  tsdown.config.ts
Due: typecheck, format

fix: resolve type errors and ensure CI fails on errors (#175)
  .claude/skills/typescript-testing/SKILL.md
  package.json
  src/tests/stackone.mcp-fetch.spec.ts
Due: typecheck, format

chore(ci): consolidate lint and test workflows into single CI workflow (#176)
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  flake.nix
Due: format

refactor(skills): unify cursor rules and claude skills (#180)
  .claude/skills/development-workflow/SKILL.md
  .claude/skills/file-operations/SKILL.md
  .claude/skills/orama-integration/SKILL.md
  .claude/skills/typescript-patterns/SKILL.md
  .claude/skills/typescript-testing/SKILL.md
  .cursor/rules/clean-code.mdc
  .cursor/rules/cursor-rules-location.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/examples-standards.mdc
  .cursor/rules/file-operations.mdc
  .cursor/rules/json-schema-handling.mdc
  .cursor/rules/native-fetch.mdc
  .cursor/rules/orama-integration.mdc
  .cursor/rules/pnpm-standards.mdc
  .cursor/rules/release-please-standards.mdc
  .cursor/rules/typescript-best-practices.mdc
  .cursor/rules/typescript-patterns.mdc
  .cursor/rules/typescript-testing.mdc
  .cursor/rules/vitest-mocks.mdc
  CLAUDE.md
Due: format

fix!: resolve typecheck errors by upgrading to zod v4 and ai SDK 5.0.108 (#183)
  examples/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/rpc-client.ts
  src/types.ts
  tsdown.config.ts
Due: typecheck, format

fix(package.json): add engines (#182)
  package.json
Due: format

refactor(rpc): extract RPC schemas to dedicated schema file (#185)
  src/rpc-client.ts
  src/schemas/rpc.ts
Due: typecheck, format

feat: add test coverage reporting with GitHub Pages deployment (#188)
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: typecheck, format

refactor(test): replace Bun.serve with MSW + Hono for MCP tests (#189)
  mocks/handlers.ts
  mocks/mcp-server.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/tests/stackone.mcp-fetch.spec.ts
  vitest.config.ts
Due: typecheck, format

ci(nix): add paths filter to pull_request trigger (#190)
  .github/workflows/nix-flake.yaml
Due: format

docs: add coverage badge to README (#192)
  README.md
Due: format

chore: remove env_exampele (#195)
  .env_example
Due: none

refactor(examples): replace ACCOUNT_IDS constant with inline placeholders (#198)
  examples/README.md
  examples/ai-sdk-integration.ts
  examples/constants.ts
  examples/human-in-the-loop.ts
  examples/index.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
  examples/planning.ts
Due: typecheck, format

refactor: reorganise test files and standardise naming convention (#191)
  .claude/skills/development-workflow/SKILL.md
  .claude/skills/typescript-testing/SKILL.md
  src/index.test.ts
  src/modules/requestBuilder.test.ts
  src/rpc-client.test.ts
  src/tool.json-schema.test.ts
  src/tool.meta-tools.test.ts
  src/tool.test-d.ts
  src/tool.test.ts
  src/tools/feedback.test.ts
  src/toolsets/base.test.ts
  src/toolsets/stackone.mcp-fetch.test.ts
  src/toolsets/stackone.test.ts
  src/utils/array.test.ts
  src/utils/tfidf-index.test.ts
  vitest.config.ts
Due: typecheck, format

refactor(lint): replace typecheck with oxlint --type-check (#200)
  .github/workflows/ci.yaml
  examples/package.json
  knip.config.ts
  lefthook.yaml
  package.json
Due: typecheck, format

chore(lint): add node, jsdoc, import plugins to oxlint config (#199)
  .oxlintrc.jsonc
Due: format

chore(example): remove human-in-the-loop (#201)
  examples/human-in-the-loop.ts
Due: typecheck, format

fix(rpc): send x-account-id as HTTP header in RPC requests (#202)
  mocks/handlers.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/schemas/headers.ts
  src/schemas/rpc.ts
  src/toolsets/base.ts
  src/utils/headers.test.ts
  src/utils/headers.ts
Due: typecheck, format

feat(example): add interactive CLI demo with @clack/prompts (#203)
  examples/README.md
  examples/interactive-cli.ts
  examples/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, format

refactor(toolsets): flatten directory structure and clean up tests (#204)
  src/feedback.test.ts
  src/feedback.ts
  src/headers.test.ts
  src/headers.ts
  src/index.test.ts
  src/index.ts
  src/mcp-client.test.ts
  src/requestBuilder.test.ts
  src/requestBuilder.ts
  src/rpc-client.test.ts
  src/rpc-client.ts
  src/schema.ts
  src/schemas/headers.ts
  src/tool.json-schema.test.ts
  src/tool.meta-tools.test.ts
  src/tool.test-d.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/toolsets/base.test.ts
  src/toolsets/index.ts
  src/toolsets/stackone.mcp-fetch.test.ts
  src/toolsets/stackone.test.ts
  src/toolsets/stackone.ts
Due: typecheck, format

chore: remove typescrip/update tsdown/update tsgo (#205)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

docs(workflow): remove biome references from development workflow skill (#209)
  .claude/skills/development-workflow/SKILL.md
Due: format

chore: simplify mcp test server type (#213)
  mocks/mcp-server.ts
Due: typecheck, format

refactor(mocks): split MSW handlers into separate files by domain (#211)
  mocks/handlers.example-api.ts
  mocks/handlers.mcp.ts
  mocks/handlers.openai.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-hris.ts
  mocks/handlers.stackone-rpc.ts
  mocks/handlers.ts
  mocks/handlers.utils.ts
Due: typecheck, format

chore: remove duplicate oxlint configuration file (#210)
  oxlint.json
Due: format

feat(tool): add OpenAI Responses API integration (#206)
  examples/openai-responses-integration.ts
  src/tool.test.ts
  src/tool.ts
Due: typecheck, format

refactor(rules): migrate skills to Claude Code rules directory (#212)
  .claude/rules/development-workflow.md
  .claude/rules/file-operations.md
  .claude/rules/git-workflow.md
  .claude/rules/pnpm-usage.md
  .claude/rules/typescript-patterns.md
  .claude/rules/typescript-testing.md
  .claude/skills/development-workflow/SKILL.md
  .cursor/rules/development-workflow.mdc
  .cursor/rules/file-operations.mdc
  .cursor/rules/git-workflow.mdc
  .cursor/rules/pnpm-usage.mdc
  .cursor/rules/typescript-patterns.mdc
  .cursor/rules/typescript-testing.mdc
  CLAUDE.md
Due: format

Revert "chore(main): release 2.0.0 (#150)" (#216)
  CHANGELOG.md
  package.json
Due: format

feat(lint): configure unicorn/prefer-top-level-await rule (#218)
  .oxlintrc.jsonc
Due: format

fix(lefthook): use pnpm (#217)
  lefthook.yaml
Due: format

refactor: remove unimplemented planning feature (#215)
  examples/README.md
  examples/planning.ts
  src/toolsets.ts
Due: typecheck, format

fix!: remove unified API integration and migrate to connector-based naming (#219)
  README.md
  examples/ai-sdk-integration.ts
  examples/fetch-tools.ts
  examples/index.ts
  examples/meta-tools.ts
  examples/openai-integration.ts
  examples/openai-responses-integration.ts
  mocks/handlers.openai.ts
  mocks/handlers.stackone-ai.ts
  mocks/handlers.stackone-hris.ts
  mocks/handlers.stackone-rpc.ts
  mocks/handlers.ts
  src/consts.ts
  src/rpc-client.test.ts
  src/tool.test.ts
  src/tool.ts
  src/toolsets.test.ts
  src/toolsets.ts
  src/utils/tfidf-index.test.ts
Due: typecheck, format
